<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{% static 'nuevoshorizontes/img/logo_blanco.png' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/home_admin.css' %}">
  <style>
    table {
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>



</head>

<body>

  {% include "nuevoshorizontes/portal_docente/navbar.html" %}

  
  <h1 class="heading" style="padding-top: 120px;">
  <img class="title-img mx-2" src="{% static 'nuevoshorizontes/img/icons_admin/acceso_blanco.png' %}" alt="agregar"
    height="60">Ingresar Notas
  </h1>
  
  <div class="container-fluid" style="padding-bottom: 80px;">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <form method="POST" name="mostrar_alumnos_form">
            {% csrf_token %}
            <h5>Elegir una asignatura</h5>
            <br>
            <select name="ramos" id="ramos" class="form-control" style="border-color: #000; text-align: center;" required>
              
              {% for asignatura in asignaturas %}
                <option value="{{asignatura.id_asignatura}}">{{asignatura.nombre_asignatura}}</option>
              {% endfor %}
            </select>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-lg btn-block" style="font-weight: 500;" name="mostrar_alumnos_boton">Mostrar Alumnos</button>
            </div>
            <br>
            <input type="hidden" name="asignatura_id" value="{{ asignatura.id_asignatura }}">
       
            <table class="table"
                            style="background-color: white; border: 1px solid rgb(21, 20, 55); text-align: center;">
              <thead>
                <tr>
                  <th scope="col">RUT</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Curso</th>
                  <th scope="col">Ingresar Nota</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for alumno in alumnos %}
                  <td>{{ alumno.rut_alumno }}</td>
                  <td>{{ alumno.nombre_alumno }} </td>
                  <td>{{ alumno.appaterno_alumno }} {{ alumno.apmaterno_alumno }}</td>
                  <td>{{ alumno.curso_alumno.nombre_curso }}</td>
                  <td><input type="number" name="{{alumno.rut_alumno}}" placeholder="0.0" step="0.1" min="1" max="7" required></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button type="submit" class="btn btn-lg btn-block" style="font-weight: 500;" name="guardar_notas_boton">Guardar Notas</button>
            </div>
          </form>  
        </div>
      </div>
    </div>
  </div>  
    
</body>

</html>