{% load static %}
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light" id="neubar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_docente' %}"><img id="MDB-logo" src="{% static 'nuevoshorizontes/img/logo.png' %}" alt="ENH Logo"
                draggable="false" height="60" /></a>
        <button class="navbar-toggler" style="border-color: black;" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="border-color: black;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'home' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/casa.png' %}" alt="agregar">
                        Ir al home</a>
                </li>ss="nav-item">
                    <a class="nav-link mx-2" href="{% url 'miperfil_docente' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/acceso.png' %}"
                            alt="usuarios">
                        Mi perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'curso_docente' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/grupo.png' %}"
                            alt="usuarios">
                        Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'asignaturas_docente' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/periodico.png' %}" alt="sede">
                        Asignaturas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'asistencia_docente' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/periodico.png' %}" alt="sede">
                        Asistencia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'ingresar_notas_docente' %}"><img src="{% static 'nuevoshorizontes/img/icons_navbar/seguro.png' %}" alt="sede">
                        Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="{% url 'cerrar_sesion' %}"><img
                            src="{% static 'nuevoshorizontes/img/icons_admin/cerrar-sesion.png' %}" alt="cerrar">
                        Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>