<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'nuevoshorizontes/img/logo_blanco.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar asistencia - Docente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/home_admin.css' %}">
</head>

<body>

    {% include "nuevoshorizontes/portal_docente/navbar.html" %}

    <h1 class="heading" style="padding-top: 120px;">
        <img class="title-img mx-2" src="{% static 'nuevoshorizontes/img/icons_admin/boton-mas-blanco.png' %}" alt="agregar"
            height="60">Agregar asistencia
    </h1>

    <div class="container">
        <div class="row">
            <div class="content">
                <p style="text-align: center; font-size: 35px; color: #fff;">Fecha: {{ fecha_actual }}</p>
            </div>
        </div>
    </div>
    
    <div class="container" style="margin-bottom: 20px;">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table" style="background-color: white; border: 1px solid rgb(21, 20, 55); text-align: center;">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Curso</th>
                                    <th>Tipo asistencia</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for alumno in alumnos %}
                                <tr>
                                    <td>{{ alumno.rut_alumno }}</td>
                                    <td>{{ alumno.nombre_alumno }}</td>
                                    <td>{{ alumno.appaterno_alumno }} {{ alumno.apmaterno_alumno }}</td>
                                    <td>{{ alumno.curso_alumno.nombre_curso }}</td>
                                    <td>
                                        <select name="{{ alumno.rut_alumno }}" required>
                                            <option value="">Seleccione un estado de asistencia</option>
                                            {% for estado_asistencia in estados_asistencia %}
                                                <option value="{{ estado_asistencia.id_estado_asistencia }}">
                                                    {{ estado_asistencia.nombre_estado_asistencia }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div style="text-align: center; align-items: center;">
                        <button type="submit" class="btn btn-lg btn-block" style="font-weight: 500;">Guardar Asistencia</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="container botones" style="text-align: center; align-items: center; margin-top: 30px;">
        <a type="button" class="btn btn-lg btn-block" href="{% url 'asistencia_docente' %}" style="font-weight: 500;">Volver al menú asistencia</a>
    </div>
    
</body>
</html>