<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'nuevoshorizontes/img/logo_blanco.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar asistencias - Docente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/home_admin.css' %}">
</head>

<body>
    {% include "nuevoshorizontes/portal_docente/navbar.html" %}

    <h1 class="heading" style="padding-top: 120px;">
        <img class="title-img mx-2" src="{% static 'nuevoshorizontes/img/icons_admin/lupa-blanco.png' %}" alt="agregar"
            height="60">Buscar asistencias
    </h1>

    {% if not asistencias %}
    <form method="POST" action="{% url 'buscar_asistencia' %}">
        {% csrf_token %}
        <div class="container" {% if asistencias or no_asistencias %}style="display: none;" {% endif %}>
            <div class="row">
                <label class="form-label" style="color: #fff; font-size: 20px;">Seleccione una fecha</label>
                <div class="col-md-6">
                    <input type="date" class="form-control" style="width: 100%;" name="fecha" required>
                    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Buscar asistencia</button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}

    {% if asistencias %}
    <div class="container" style="margin-bottom: 30px;">
        <div class="card">
            <div class="card-body">
                <h2 style="color: #fff; margin-bottom: 10px;">Asistencias encontradas:</h2>
                <div class="table-responsive">
                    <table class="table table-striped"
                        style="background-color: white; border: 1px solid rgb(21, 20, 55); text-align: center;">
                        <thead>
                            <tr>
                                <th>Nombre del alumno</th>
                                <th>Fecha</th>
                                <th>Tipo de asistencia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asistencia in asistencias %}
                            <tr>
                                <td>{{ asistencia.alumno.nombre_alumno }}</td>
                                <td>{{ asistencia.fecha_asistencia }}</td>
                                <td>{{ asistencia.tipo_asistencia.tipo_asistencia }}</td>
                                <td>
                                    {% if asistencia.alumno.rut_alumno %}
                                    <a type="submit" class="btn btn-primary"
                                        href="{% url 'modificar_asistencia' asistencia.alumno.rut_alumno %}"
                                        style="background-color: green; color: #fff;">Modificar</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% elif no_asistencias %}
                    <div class="container">
                        <div class="row">
                            <p style="color: #fff; font-size: 25px;">No se encontraron asistencias para la fecha seleccionada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container botones" style="text-align: center; align-items: center; margin-top: 30px;">
        <a type="button" class="btn btn-lg btn-block" href="{% url 'asistencia_docente' %}"
            style="font-weight: 500;">Volver al menú asistencia</a>
        {% if asistencias or no_asistencias %}
        <a type="button" class="btn btn-lg btn-block" href="{% url 'buscar_asistencia' %}"
            style="font-weight: 500; margin-left: 15px;">Nueva búsqueda</a>
        {% endif %}
    </div>

</body>

</html>