body {
    background: linear-gradient(to right, #333186, #1a1944);
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

.heading {
    text-align: center;
    font-size: 30px;
    padding-top: 24px;
    padding-bottom: 15px;
    margin: 16px 0;
    color: #fff;
}

.botones {
    padding-bottom: 15px;
}

.btn {
    background-color: #fff;
    border-color: #fff;
    border-radius: 24px;
    color: rgb(21, 20, 55);
    font-weight: 600;
    display: inline-block;
    padding: 12px 24px;
}

.btn a {
    text-decoration: none;
    color: rgb(21, 20, 55);
}

.btn:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .heading {
        font-size: 24px;
        padding-top: 16px;
        padding-bottom: 10px;
    }

    .btn {
        border-radius: 20px;
        padding: 10px 20px;
    }
}
