.card {
    box-shadow: 0 4px px 0 #444444;
    max-width: 300px;
    margin: 10px 0 70px 0;
    text-align: center;
}

.card-img-top {
    height: 200px;
    width: auto;
    object-fit: cover;
    margin-top: 9px;
}

.card-footer {
    background-color: inherit;
}