.card {
    background-color: rgb(20, 21, 55);
    border-radius: 30px;
}

.card img {
    width: 90px;
    padding-top: 8px;
}

.card h5 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 15px;
}

.card .btn {
    background-color: #fff;
    border-color: #fff;
    color: rgb(20, 21, 55);
    font-weight: 500;
}

.text {
    font-size: 20px;
    margin-bottom: 25px;
}


@media (max-width: 767px) {
    .last {
        margin-bottom: 100px;
    }
    .text {
        font-size: 18px;
        text-align: center;
    }
}