<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNH - Login Portal Apoderado</title>
    <link rel="icon" href="img/logo_blanco.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm   /bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'nuevoshorizontes/css/login_apoderado.css' %}">
</head>

<body>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-lg-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6"></div>

            <div class="col bg-white p-5 rounded-end">
                <div class="text-end">
                    <img src="/img/logo.png" height="90" alt="">
                </div>
                <h2 class="fw-bold text-center py-5">Bienvenido apoderado</h2>

                <!-- Login -->
                <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" placeholder="example@dominio.algo"
                            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                            title="El correo debe ser de la siguiente manera: example@domino.algo" required name="email"
                            id="email">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" required name="password" id="password">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>

                    <div class="my-3">
                        <span>¿Deseas volver? <a href="{% url 'portales' %}">Volver al inicio</a></span>
                    </div>

                    {% if messages %}
                        {% for msg in messages %}
                        <b>{{msg}}</b>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>

</html>